body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.trackListing {
  border: "1px solid black";
}

.container {
  display: flex;
}

.divider {
  margin-right: 0.3%;
  margin-left: 0.3%;
  font-size: medium;
}

.heading {
  margin-bottom: 2%;
}

.search {
  margin-bottom: 1%;
}

.active {
  color: lightcoral;
}

.title {
  font-weight: bold;
}

.title {
  cursor: pointer;
}